// Create a jade unordered list item and create a button in jade to apply onClick event for handling
    function expression to delete the odd list items.
doctype html
html
    head
        script(src="external.js")
    body
        h2 Create unordered list and delete odd one
        ul
            li Core Javascript
            li jQuery
            li ES6
            li node.js
        button(onClick='deleteOdd();') delete